
<!--displaying flash errors -  -->

<% if flash[:errors] %>
<% flash[:errors].each do |err| %>
      <%= err %> <br>
  <% end %>
<% end %>


<!--student object - form   -->
<div class=form>
<%= form_for @student do |s| %>

  <%= s.label 'First Name' %>
  <%= s.text_field :first_name %><br>

  <%= s.label 'Last Name' %>
  <%= s.text_field :last_name %><br>

  <%= s.label 'Address 1' %>
  <%= s.text_field :address_1 %><br>

  <%= s.label 'Email Address' %>
  <%= s.text_field :email %><br>

  <%= s.label 'Phone Number' %>
  <%= s.text_field :phone_number %><br>

  <%= s.label 'Password' %>
  <%= s.password_field :password %> <br>

  <%= s.label 'Password Confirmation' %>
  <%= s.password_field :password_confirmation %> <br>

  <%= s.submit  %>

<% end %>
 </div>
