<center> <h2> Welcome BACK! <%=@student.full_name%> </h2> </center>



<center><h3><%= @message %></h3></center>

<div>
  <% @student.appointments.each do |appointment| %>
  <div><%= appointment.lesson_date %></div>
  <%= button_to "Cancel Appointment", "/appointments/#{appointment.id}", {method: :delete}%>
  <% end %>
</div>


 <center> <h3> Student Menu </h3>


<center> <div> <%= link_to "Edit My Profile", edit_student_path(@student.id) %></div> </center>
<center> <div> <%= link_to "View My Appointments", appointments_path %></div> </center>
<center> <div> <%= link_to "Schedule Appointment", newappointment_path %></div> </center>
