<center> <h2> Welcome <%= @student.full_name %> </h2> </center>


<center> <h3> Student Menu </h3>


<center> <div> <%= link_to "Edit My Profile", edit_student_path(@student.id) %></div> </center>
<center> <div> <%= link_to "View My Appointments", appointments_path %> </div> </center>
<center> <div> <%= link_to "Schedule Appointment", new_appointment_path %></div> </center>
<center> <div> <%= link_to "View My Documents", student_documents_path(@student) %> </div> </center>
