  <!-- not using this anywhere -->



<% if flash[:errors] %>
<% flash[:errors].each do |err| %>
      <%= err %> <br>
  <% end %>
<% end %>

<div class=form>
<%= form_for @instructor do |i| %>
  <%= i.label 'First Name' %><br>
  <%= i.text_field :first_name %><br>

  <%= i.label 'Last Name' %><br>
  <%= i.text_field :last_name %><br>

  <%= i.label 'Email Address' %><br>
  <%= i.text_field :email %><br>

  <%= i.label 'Phone Number' %><br>
  <%= i.text_field :phone_number %><br>

  <%= i.label 'Subject Taught' %><br>
  <%= i.text_field :phone_number %><br>

  <%= i.label 'Password' %><br>
  <%= i.password_field :password %> <br>

  <%= i.label 'Password Confirmation' %><br>
  <%= i.password_field :password_confirmation %> <br>

  <%= i.submit  %>

<% end %>
 </div>
