
These are all of <%= current_user.full_name + "'s" %> appointments

<table style="width:100%">
  <tr>
    <th>Student</th>
    <th>Subject</th>
    <th>Lesson Date</th>
    <th>Lesson Time</th>
    <th>Cancel Appointment</th>
    <th>Reschedule Appointment</th>
  </tr>
  <tr>
    <% current_user.appointments.each do |a| %>
    <td> <%= Student.find(a.student_id).full_name %> </td>
        <td><%= a.subject_taught %></td>
        <td><%= a.lesson_date %></td>
        <td><%= a.time %></td>
        <td><%= button_to "Cancel Appointment", cancel_appointment_path(a.id), :method => :delete  %></td>
        <td><%= button_to "Reschedule Appointment", edit_appointment_path(a.id), :method => :get %> </td>
  </tr>
    <% end %>

</table>
<%= button_to "Back to Instructor Menu", instructor_path(current_user.id), :method => :get %>
